@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

.wizard-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}


.wizard-form-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  justify-content: center;
}


.wizard-form-header {
  text-align: center;
  margin-bottom: 20px;
}



.wizard-form-content input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0f0e0e;
  margin-bottom: 10px;
}


.wizard-form-content button {

}


.add-task-button,
.previous-button,
.next-button {
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}


.submit-button {
  
  color: #fff;
  width: 85%; 

  background: linear-gradient(
    135deg,
    #4183d7 0%,
    #66cc99 100%
  );
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 80px;
  color: white;
  font-weight: 400;
  font-size: 17pt;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center; 
}


.add-task-button {
  margin-bottom: 10px;
}


.navigation-buttons {
  display: flex;
  justify-content: center; 
  margin-bottom: 12.5px;
  

}

.view-data-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
  margin: 0; 
}

.view-data-card {
  width: 35%; 
  margin: 0 auto; 
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  text-align: left; 
  margin-top: 10vh; 
  margin-bottom: 10vh;
  padding-left: 200px;
}


.view-data-header {
  margin-bottom: 20px;
}


.phase-container {
  margin-bottom: 15px;
  opacity: 0.2; 
  transition: opacity 0.3s ease-in-out; 
}

.phase-container:not(.is-locked) {
  opacity: 5; 
}


.phase-name {
  font-weight: bold;
}


.task-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.task-item {
  margin-bottom: 5px;
  padding-left: 50px;
}


.task-checkbox {
  border-radius: 50%; 
  width: 20px;
  height: 20px;
  appearance: none; 
  border: 2px solid #ccc;
  cursor: pointer;
}

.task-checkbox:checked {
  background-color: rgb(96, 235, 126);
}

.custom-modal {
  width: 25%;
  margin: 0 auto;
  background-color: white; 
  opacity: 1; 
}

.custom-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}
